* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  border-radius: 2px;
}

html {
  background-image: url(./images/got_kings_landing_final1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 36px;
  background-color: aliceblue;
  border-style: solid;
  width: 80%;
  align-items: center;
  margin: 60px auto;
}

.container {
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 65%;
  height: 65%;
  background-color: aliceblue;
  padding-left: 10px;
  text-align: center;
}
.questionbox {
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 65%;
  height: 65%;
  background-color: aliceblue;
  padding-left: 10px;
}

h2 {
  border-style: solid;
  align-items: center;
  margin: auto;
  width: 65%;
  height: 65%;
  background-color: aliceblue;
  padding-left: 10px;
}

button {
  border-style: solid;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: aliceblue;
  margin-top: 75px;
  text-align: center;
}

/* .startBtn {
  border-style: solid;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: aliceblue;
  margin-top: 75px;
  text-align: center;
}

.highscoreBtn {
  border-style: solid;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: aliceblue;
  margin-top: 75px;
  text-align: center;
} */

audio {
  position: fixed;
  bottom: 0;
}
